[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pandas = "*"
scikit-learn = "*"
psycopg2-binary = "*"
opencv-python = "*"
torch = "*"
torchvision = "*"
aiofiles = "*"

[dev-packages]
streamlit = "*"
watchdog = "*"
minio = "*"
ipywidgets = "*"

[requires]
python_version = "3.9"
