[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
streamlit = "*"
watchdog = "*"
opencv-python = "*"
torch = "*"
scikit-learn = "*"
torchvision = "*"
pandas = "*"
psycopg2-binary = "*"
minio = "*"

[dev-packages]

[requires]
python_version = "3.9"
